{% extends 'base.html' %}
{% load static %}          

{% block title %}Contact - Automated Political Stance Identifier{% endblock %}

{% block content %}
<section class="py-5 bg-white">
    <div class="container text-center">
        <img 
	    src="{% static 'APSIlogo.png' %}" 
            alt="APSI Logo" 
            class="img-fluid mx-auto d-block"
            style="max-height: 150px;"
        >
    </div>
</section>

<section class="py-5 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12">

<h3 style="margin-bottom: 24px;">Contact us</h3>
<h4>Project Leader</h4>
<p class="text-muted">
  Dr. Juan S. Gómez Cruces<br>
  juan.gomezcruces@hpi.de<br>
  <a href="https://bsky.app/profile/juansgomezcruces.bsky.social"><img 
	    src="{% static 'Bluesky_Logo.svg' %}" 
            alt="bsky Logo" 
            style="max-height: 20px;"
        ></a>  <a href="https://www.linkedin.com/in/j-gomez-cruces/"><img 
	    src="{% static 'LinkedIn_icon.svg' %}" 
            alt="lnkdn Logo" 
            style="max-height: 20px;"
        ></a>
</p>


<h4>Project Member</h4>
<p class="text-muted">
  Yorick Scheffler<br>
  yorick.scheffler@student.hpi.uni-potsdam.de
</p>

<h4>Project Member</h4>
<p class="text-muted">
  Ewan Thomas-Colquhoun<br>
  ewan.thomas-Colquhoun@hpi.de<br>
  <a href="https://www.linkedin.com/in/ewan-thomas-colquhoun-61872b194/"><img 
	    src="{% static 'LinkedIn_icon.svg' %}" 
            alt="lnkdn Logo" 
            style="max-height: 20px;"
        ></a>
</p>
         

        

      </div>
    </div>
  </div>
</section>


{% endblock %}
