{% extends 'base.html' %}
{% load static %}          

{% block title %}Classification Results - Automated Political Stance Identifier{% endblock %}

{% block content %}
<section class="py-5 bg-white">
    <div class="container text-center">
        <img 
	    src="{% static 'APSIlogo.png' %}" 
            alt="APSI Logo" 
            class="img-fluid mx-auto d-block"
            style="max-height: 200px;"
        >
    </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="disclaimer-box mb-5">
<h3 style="margin-bottom: 24px;">Privacy Notice</h3>
<h4>The responsible party for the processing of personal data on this website is:</h4>
<p class="text-muted">
  Hasso-Plattner-Institut für Digital Engineering gGmbH<br>
  Prof.-Dr.-Helmert-Str. 2-3<br>
  14482 Potsdam<br>
  Phone: 49 (0) 331 5509-3422<br>
  pathtopower@hpi.de
</p>

<h4>You may contact our data protection officer at:</h4>
<p class="text-muted">
  TÜV SÜD Akademie GmbH<br>
  – Datenschutzbeauftragter des HPI –<br>
  Westendstr. 199<br>
  80686 München, Germany<br>
  Phone: +49 (0)381 817082-298<br>
  E-Mail: datenschutz@hpi.de
</p>

<h4>Voluntary provision of your data</h4>
<p class="text-muted">
  You are not required to provide personal information to us. However, by not providing us with certain information
  (for example, how to contact you if you would like an answer from us), it is possible that we will be unable to
  complete your request. In the context of special procedures (for example, when you register for an event or our
  newsletter), you may again be required to provide us with certain information. Without this data we may not, for
  example, be able to process your registration. You will be expressly informed if this should be the case.
</p>

<h4>Recipients of your data</h4>
<p class="text-muted">
  Generally, your personal data remains within our area of responsibility, except in special cases (e.g., co-operative
  events), in which we will then explicitly inform you to whom your data will be sent. If compelling circumstances arise,
  it may be necessary to pass on your data to external consultants, for example to lawyers in the case of legal disputes
  (legal basis Art. 6 para. 1 subpara. 1 letter f GDPR; purpose and legitimate interest: the exercising, defending or
  asserting of legal rights). In certain areas, such as web hosting, e-mail hosting and event management, we use
  specialized service providers. These are strictly bound to our instructions with an order processing contract and are
  not allowed to process the data for their own purposes. Our data protection officer has extensive rights of control,
  accorded by Art. 37, 38 GDPR, and therefore access to personal data (legal basis Art. 6 para. 1 subpara. 1 letter c in
  conjunction with Art. 37, 38 GDPR). Further recipients of your data are listed in the notes on the respective data
  processing. In certain cases, we may need to disclose your personal information to third parties so that you can
  receive the service you want; this means to vicarious agents, for example postal service providers. In certain areas,
  such as web hosting and email hosting, we use specialized service providers. These providers are strictly bound by our
  instructions through an agreement on commissioned data processing and may not process the data for their own purposes.
  If in special cases (e.g., co-operative events with partners outside of the EU), your data will be transferred to third
  countries, we will inform you of this and, if required, also separately about the legal basis and level of data protection.
</p>

<h4>Cookies</h4>
<p class="text-muted">
  This website does not use cookies of its own. Cookies may only be set by third-party providers (e.g. YouTube) after
  users actively consent by clicking on embedded videos. Videos from external platforms such as YouTube are embedded on
  this website using a two-click solution. This means that no data is transmitted to these providers when the page is
  loaded. Only when users actively click on the preview image will the video be loaded and a connection to the servers
  of the respective provider be established. In this case, personal data (such as IP address and device information) may
  be transmitted to the provider and cookies may be set by them. The processing of data then takes place under the
  responsibility of the respective provider. Further information can be found in their privacy policy.
</p>

<h4>Automated decision-making, profiling</h4>
<p class="text-muted">
  Your data will not be used for automated decision-making or profiling.
</p>

<h4>Your rights</h4>
<p class="text-muted">
  Under the relevant legal requirements, you have the right to receive information about your data, the right to have
  such data corrected or deleted, the right to the restriction of processing, the right to object to processing, and the
  right to data tranferability. In particular, you have the right to object to the processing of your data for
  advertising purposes at any time without incurring costs other than the transmission costs, according to the rates of
  your provider (e.g., the costs of an email=usually none). This applies, for example, if you have registered for an
  event and do not wish to be informed about similar events. If the data processing is based on consent, you have the
  right to revoke your consent at any time without this affecting the legality of the processing being carried out on
  the basis of consent to revocation or processing on any other legal basis. If you want to exercise these rights, you
  can simply write to or click on the unsubscribe link in any email newsletter to unsubscribe. If we call you, you can
  also communicate this to us directly.
</p>

<p class="text-muted">
  You also have the right to complain to a data protection supervisory authority about our processing of your personal
  data, for example to the supervisory authority whom we answer to:
</p>

<p class="text-muted">
  Die Landesbeauftragte für den Datenschutz und für das Recht auf Akteneinsicht<br>
  Stahnsdorfer Damm 77<br>
  14532 Kleinmachnow, Germany<br>
  Tel: +49 (0)33203 356-0<br>
  Fax: +49 (0)33203 356-49<br>
  Email: poststelle@lda.brandenburg.de.
</p>

<p class="text-muted">
  If you have questions or requests regarding data protection, you can contact us at any time.
  Your contact is: datenschutz@hpi.de.
</p>

<h4>Your right to object to data processing</h4>
<p class="text-muted">
  Insofar as the processing of your personal data is based on Art. 6 para. 1 subpara. 1 letter e or f GDPR, you have the
  right to object to processing in accordance with Art. 21 GDPR. If your objection is made for reasons arising from your
  particular situation, we will no longer process your personal data unless we can demonstrate compelling legitimate
  grounds for the processing that outweigh your interests, rights and freedoms, or for the establishment, exercise of
  defence against legal claims. If your opposition is directed against direct marketing, including profiling, insofar as
  it is connected with such direct mail, we will no longer process your personal data for these purposes.
</p>

         

        </div>

      </div>
    </div>
  </div>
</section>


<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="disclaimer-box mb-5">

<h3 style="margin-bottom: 24px;">Datenschutzerklärung</h3>

<h4>Die verantwortliche Stelle für die Verarbeitung personenbezogener Daten auf dieser Website ist:</h4>
<p class="text-muted">
  Hasso-Plattner-Institut für Digital Engineering gGmbH<br>
  Prof.-Dr.-Helmert-Str. 2-3<br>
  14482 Potsdam<br>
  Telefon: +49 (0) 331 5509-3422<br>
  pathtopower@hpi.de
</p>

<h4>Sie können unseren Datenschutzbeauftragten wie folgt kontaktieren:</h4>
<p class="text-muted">
  TÜV SÜD Akademie GmbH<br>
  – Datenschutzbeauftragter des HPI –<br>
  Westendstr. 199<br>
  80686 München, Deutschland<br>
  Telefon: +49 (0)381 817082-298<br>
  E-Mail: datenschutz@hpi.de
</p>

<h4>Freiwillige Bereitstellung Ihrer Daten</h4>
<p class="text-muted">
  Sie sind nicht verpflichtet, uns personenbezogene Daten bereitzustellen. Wenn Sie uns jedoch bestimmte Informationen
  nicht zur Verfügung stellen (z. B. wie wir Sie kontaktieren können, wenn Sie eine Antwort von uns wünschen), kann es
  sein, dass wir Ihr Anliegen nicht bearbeiten können. Im Rahmen besonderer Verfahren (z. B. bei der Anmeldung zu einer
  Veranstaltung oder zu unserem Newsletter) kann es erforderlich sein, dass Sie uns bestimmte Informationen
  bereitstellen. Ohne diese Daten können wir Ihre Anmeldung ggf. nicht bearbeiten. Sie werden in solchen Fällen
  ausdrücklich darüber informiert.
</p>

<h4>Empfänger Ihrer Daten</h4>
<p class="text-muted">
  Grundsätzlich verbleiben Ihre personenbezogenen Daten in unserem Verantwortungsbereich, außer in besonderen Fällen
  (z. B. Kooperationsveranstaltungen), in denen wir Sie ausdrücklich darüber informieren, an wen Ihre Daten übermittelt
  werden. Wenn zwingende Umstände vorliegen, kann es erforderlich sein, Ihre Daten an externe Berater weiterzugeben,
  z. B. an Rechtsanwälte im Falle von Rechtsstreitigkeiten (Rechtsgrundlage: Art. 6 Abs. 1 lit. f DSGVO; Zweck und
  berechtigtes Interesse: Ausübung, Verteidigung oder Geltendmachung von Rechtsansprüchen). In bestimmten Bereichen,
  wie Webhosting, E-Mail-Hosting und Veranstaltungsmanagement, setzen wir spezialisierte Dienstleister ein. Diese sind
  durch einen Auftragsverarbeitungsvertrag streng an unsere Weisungen gebunden und dürfen die Daten nicht zu eigenen
  Zwecken verarbeiten. Unser Datenschutzbeauftragter verfügt gemäß Art. 37, 38 DSGVO über umfangreiche Kontrollrechte
  und hat daher Zugriff auf personenbezogene Daten (Rechtsgrundlage: Art. 6 Abs. 1 lit. c i. V. m. Art. 37, 38 DSGVO).
  Weitere Empfänger Ihrer Daten sind in den Hinweisen zur jeweiligen Datenverarbeitung aufgeführt. In bestimmten Fällen
  kann es erforderlich sein, Ihre personenbezogenen Daten an Dritte weiterzugeben, damit Sie die gewünschte Leistung
  erhalten (z. B. an Postdienstleister). In besonderen Fällen (z. B. Kooperationsveranstaltungen mit Partnern außerhalb
  der EU) werden Ihre Daten in Drittländer übermittelt. In diesem Fall informieren wir Sie darüber sowie über die
  entsprechende Rechtsgrundlage und das Datenschutzniveau.
</p>

<h4>Cookies</h4>
<p class="text-muted">
  Diese Website verwendet keine eigenen Cookies. Cookies können ausschließlich von Drittanbietern (z. B. YouTube)
  gesetzt werden, nachdem Nutzer aktiv durch Anklicken eingebetteter Videos zugestimmt haben. Videos externer
  Plattformen wie YouTube sind auf dieser Website mit einer Zwei-Klick-Lösung eingebunden. Das bedeutet, dass beim
  Laden der Seite zunächst keine Daten an diese Anbieter übertragen werden. Erst wenn Nutzer aktiv auf das Vorschaubild
  klicken, wird das Video geladen und eine Verbindung zu den Servern des jeweiligen Anbieters hergestellt. Dabei können
  personenbezogene Daten (z. B. IP-Adresse und Geräteinformationen) übertragen und Cookies gesetzt werden. Die
  Datenverarbeitung erfolgt dann in der Verantwortung des jeweiligen Anbieters. Weitere Informationen finden Sie in
  deren Datenschutzerklärung.
</p>

<h4>Automatisierte Entscheidungsfindung, Profiling</h4>
<p class="text-muted">
  Ihre Daten werden nicht für automatisierte Entscheidungsfindungen oder Profiling verwendet.
</p>
<h4>Ihre Rechte</h4>
<p class="text-muted">
  Nach den geltenden gesetzlichen Bestimmungen haben Sie das Recht auf Auskunft über Ihre personenbezogenen Daten, das
  Recht auf Berichtigung oder Löschung, das Recht auf Einschränkung der Verarbeitung, das Recht auf Widerspruch gegen
  die Verarbeitung sowie das Recht auf Datenübertragbarkeit. Insbesondere haben Sie das Recht, der Verarbeitung Ihrer
  Daten zu Werbezwecken jederzeit zu widersprechen, ohne dass hierfür andere Kosten als die Übermittlungskosten nach
  den Basistarifen Ihres Anbieters entstehen (z. B. E-Mail = in der Regel kostenlos). Dies gilt z. B., wenn Sie sich für
  eine Veranstaltung angemeldet haben und keine weiteren Informationen zu ähnlichen Veranstaltungen erhalten möchten.
  Sofern die Datenverarbeitung auf einer Einwilligung beruht, haben Sie das Recht, diese Einwilligung jederzeit zu
  widerrufen, ohne dass die Rechtmäßigkeit der bis zum Widerruf erfolgten Verarbeitung berührt wird. Wenn Sie diese
  Rechte ausüben möchten, können Sie uns einfach schreiben oder den Abmeldelink in einem Newsletter verwenden. Auch
  telefonisch können Sie uns Ihren Wunsch mitteilen.
</p>

<p class="text-muted">
  Sie haben außerdem das Recht, sich bei einer Datenschutzaufsichtsbehörde über die Verarbeitung Ihrer personenbezogenen
  Daten zu beschweren, insbesondere bei der für uns zuständigen Aufsichtsbehörde:
</p>

<p class="text-muted">
  Die Landesbeauftragte für den Datenschutz und für das Recht auf Akteneinsicht<br>
  Stahnsdorfer Damm 77<br>
  14532 Kleinmachnow, Deutschland<br>
  Tel: +49 (0)33203 356-0<br>
  Fax: +49 (0)33203 356-49<br>
  E-Mail: poststelle@lda.brandenburg.de
</p>

<p class="text-muted">
  Wenn Sie Fragen oder Anliegen zum Datenschutz haben, können Sie uns jederzeit kontaktieren.
  Ihr Ansprechpartner ist: datenschutz@hpi.de.
</p>

<h4>Ihr Widerspruchsrecht gegen die Datenverarbeitung</h4>
<p class="text-muted">
  Sofern die Verarbeitung Ihrer personenbezogenen Daten auf Art. 6 Abs. 1 lit. e oder f DSGVO beruht, haben Sie gemäß
  Art. 21 DSGVO das Recht, Widerspruch gegen die Verarbeitung einzulegen. Erfolgt der Widerspruch aus Gründen, die sich
  aus Ihrer besonderen Situation ergeben, verarbeiten wir Ihre personenbezogenen Daten nicht mehr, es sei denn, wir
  können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten
  überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen. Richtet
  sich der Widerspruch gegen Direktwerbung einschließlich Profiling, so werden Ihre personenbezogenen Daten für diese
  Zwecke nicht mehr verarbeitet.
</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
